[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bunny"]
	path = bunny
	url = https://github.com/dmi3kno/bunny
	registered = false
[submodule "clockify"]
	path = clockify
	url = https://github.com/datawookie/clockify
[submodule "emayili"]
	path = emayili
	url = https://github.com/datawookie/emayili
[submodule "filebin"]
	path = filebin
	url = https://github.com/datawookie/filebin
[submodule "liqueueR"]
	path = liqueueR
	url = https://github.com/datawookie/liqueuer
